body{
  background-image: url("Stupa_Borobudur.jpg");
  background-attachment: fixed;
  background-size: cover;
}

div{
  width: 960px;
  height: 1500px;
  border: 2px solid green;
  margin: 0 auto;
  text-align: center;
  color: blue;
  background-image: url("avocado.jpg");
}
